.catalog-viewer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-viewer__pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 64px;
}

.catalog-viewer__current-and-all-pages {
  font-weight: bold;
}

.catalog-viewer__button {
  cursor: pointer;
  border: none;
  border-radius: var(--shape-heavy);
  padding: 5px 12px;
  font-size: 1rem;
  font-weight: bold;
}

.catalog-viewer__button_light {
  background: var(--accent-color-lighter-900);
  color: var(--dark-typography-color);
}

.catalog-viewer__button_disable {
  background: var(--dark-background-color-lighter-100);
  color: var(--dark-background-color-lighter-300);
}
