.select-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 32px;
  padding: 5px 0px 5px 5px;
  border-radius: var(--shape-medium);
  margin: 10px 0;
}

.react-select-container {

}

.react-select__control {}

.react-select__value-container {}

.react-select__indicators {
  
}