/* app-select */

.app-select {
  position: relative;
  border-radius: var(--shape-small);
}

.app-select_light {
}

.app-select_dark {
}

/* app-select__arrow */

.app-select__arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transition:
    transform 0.3s ease-in-out,
    margin-top 0.3s ease-in-out;
  margin-top: -12px;
  border-radius: var(--shape-small);
}

.app-select__arrow_light {
}

.app-select__arrow_dark {
}

.app-select[data-is-active='true'] .app-select__arrow {
  transform: rotate(180deg);
  margin-top: -14px;
}

/* app-select__placeholder */

.app-select__placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  border: 1px;
  font-family: var(--typography-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--shape-medium);
  user-select: none;
}

.app-select__placeholder_light {
}

.app-select__placeholder_dark {
}

.app-select__placeholder[data-selected='true'] {
  color: rgb(0, 0, 0);
}

.app-select[data-is-active='true'] .app-select__placeholder {
  border: 1px solid #0022f5;
}

.app-select:not([data-is-active='true']) .app-select__placeholder:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* app-select__select */

.app-select__select {
  display: grid;
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
}

.app-select__select_light {
}

.app-select__select_dark {
}

/* app-select__option */

.app-select__option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  padding: 5px;
  border: 1px;
  cursor: pointer;
  font-family: var(--typography-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}

.app-select__option[aria-selected='true'] {
  background-color: rgba(0, 0, 0, 0.05);
}
.app-select__option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.app-select__option_light {
}

.app-select__option_dark {
}
