.release-carousel {
  margin: 35px 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: center;
}

.release-carousel__item {
  width: 10vw;
  height: auto;
  border-radius: var(--shape-small);
  cursor: pointer;
  margin: 0 0.7vw;
}

img.release-carousel__image {
  width: inherit;
  height: inherit;
  border-radius: var(--shape-small);
}

.release-carousel__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--shape-heavy);
  width: 100%;
  height: 23vh;
  text-transform: uppercase;
  font-size: var(--typography-headline-4);
  font-weight: bold;
}

.release-carousel__placeholder_light {
  background: var(--light-background-color-darker-900);
  color: var(--light-background-color-darker-300);
}

.release-carousel__placeholder_dark {
  background: var(--dark-background-color-lighter-900);
  color: var(--dark-background-color-lighter-300);
}
