@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  /* Shared */
  --mdc-typography--font-family: 'Inter';
  --mdc-shape-small: 4px;
  --mdc-shape-medium: 4px;
  --mdc-shape-large: 0px;

  /* Light theme */
  --mdc-theme-primary: #4f6d7a;
  --mdc-theme-on-primary: #2a2d34;
  --mdc-theme-secondary: #018786;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-error: #ffffff;
  --mdc-theme-surface: #eaeaea;
  --mdc-theme-on-surface: #2a2d34;
  --mdc-theme-background: #ffffff;

  /* Dark theme */
  --mdc-theme-primary-dark: #6200ee;
  --mdc-theme-on-primary-dark: #ffffff;
  --mdc-theme-secondary-dark: #018786;
  --mdc-theme-on-secondary-dark: #ffffff;
  --mdc-theme-error-dark: #b00020;
  --mdc-theme-on-error-dark: #ffffff;
  --mdc-theme-surface-dark: #000000;
  --mdc-theme-on-surface-dark: #ffffff;
  --mdc-theme-background-dark: #000000;
}

/* 
* New UI / V2
*/
:root {

  /* Typography */

  /* Font family */
  --typography-font-family: 'Inter';

  /* Headlines */
  --typography-headline-1: ;
  --typography-headline-2: ;
  --typography-headline-3: ;
  --typography-headline-4: ;
  --typography-headline-5: ;
  --typography-headline-6: ;

  /* Subtitles */
  --typography-subtitle-1: ;
  --typography-subtitle-2: ;

  /* Paragraphs */
  --typography-body-1: ;
  --typography-body-2: ;

  /* UI */
  --typography-button: ;
  --typography-caption: ;
  --typography-overline: ;

  /* Typography END */

  /* Palette */

  --accent-color: ;
  --success-color: ;
  --surface-color: ;

  /* Palette END */


  /* Shadows */

  /* Shadows END */


  /* Shapes */

  --shape-small: 2px;
  --shape-medium: 5px;
  --shape-heavy: 10px;

  /* Shapes END */

}
