.typography--variant-h1 {
  font-size: var(--typography-headline-1);
  font-weight: 500;
}

.typography--variant-h2 {
  font-size: var(--typography-headline-2);
  font-weight: 500;
}

.typography--variant-h3 {
  font-size: var(--typography-headline-3);
  font-weight: 500;
}

.typography--variant-h4 {
  font-size: var(--typography-headline-4);
  font-weight: 500;
}

.typography--variant-h5 {
  font-size: var(--typography-headline-5);
  font-weight: 500;
}

.typography--variant-h6 {
  font-size: var(--typography-headline-6);
  font-weight: 500;
}

.typography--variant-subtitle-1 {
  font-size: var(--typography-subtitle-1);
  font-weight: 500;
}

.typography--variant-subtitle-2 {
  font-size: var(--typography-subtitle-2);
  font-weight: 500;
}

.typography--variant-body1 {
  font-size: var(--typography-body-1);
}

.typography--variant-body1 {
  font-size: var(--typography-body-2);
}

.typography--color-light {
  color: var(--light-typography-color);
}

.typography--color-dark {
  color: var(--dark-typography-color);
}
