@import './css/_reset.css';
@import './css/_theme.css';

* {
  font-family: var(--typography-font-family);
}

* {
  color: inherit;
}

body.dark-body {
  background-color: var(--dark-background-color) !important;
}

body.light-body {
  background-color: var(--light-background-color) !important;
}
